USE [master]
GO
/****** Object:  Database [WebsiteBanGiaySneaker]    Script Date: 6/16/2020 11:07:39 AM ******/
CREATE DATABASE [WebsiteBanGiaySneaker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebsiteBanGiaySneaker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebsiteBanGiaySneaker.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebsiteBanGiaySneaker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebsiteBanGiaySneaker_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebsiteBanGiaySneaker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebsiteBanGiaySneaker]
GO
/****** Object:  User [oguynha]    Script Date: 6/16/2020 11:07:39 AM ******/
CREATE USER [oguynha] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MaDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[MaSize] [int] NOT NULL,
	[MaMau] [int] NOT NULL,
 CONSTRAINT [PK__CHITIETH__F557D6E0DF5C54B7] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC,
	[MaMau] ASC,
	[MaSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPN]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPN](
	[MaPN] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[Gia] [decimal](18, 0) NULL,
	[MaSize] [int] NOT NULL,
	[MaMau] [int] NOT NULL,
	[ThanhTien] [decimal](18, 0) NULL CONSTRAINT [DF_CHITIETPN_ThanhTien]  DEFAULT ((0)),
 CONSTRAINT [PK__CHITIETP__F557B771398DF526] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC,
	[MaSize] ASC,
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETSP]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSP](
	[MaSP] [int] NOT NULL,
	[MaSize] [int] NOT NULL,
	[MaMau] [int] NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaSize] ASC,
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[NgayDat] [datetime] NULL,
	[NgayGiao] [datetime] NULL,
	[DCGiao] [nvarchar](50) NULL,
	[TongTien] [decimal](18, 0) NULL,
	[ThanhToan] [nvarchar](20) NULL CONSTRAINT [DF__DONHANG__NgayGio__72C60C4A]  DEFAULT (N'Chưa thanh toán'),
	[TinhTrang] [nvarchar](20) NULL CONSTRAINT [DF_DONHANG_TinhTrang]  DEFAULT (N'Chưa duyệt'),
	[HoTen] [nvarchar](30) NULL,
	[Email] [varchar](30) NULL,
	[SDT] [nchar](11) NULL,
 CONSTRAINT [PK__DONHANG__2725866162885E81] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1000,1) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Sdt] [varchar](11) NOT NULL,
	[MatKhau] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[MaMau] [int] IDENTITY(1,1) NOT NULL,
	[Color] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NCC]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NCC](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Sdt] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Sdt] [varchar](11) NOT NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[CMND] [varchar](12) NOT NULL,
	[MatKhau] [varchar](15) NOT NULL,
	[QuyenNV] [char](1) NULL CONSTRAINT [DF_NHANVIEN_QuyenNV]  DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NSX]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NSX](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Sdt] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[MaNV] [int] NULL,
	[MaNCC] [int] NULL,
	[TongTien] [decimal](18, 0) NULL CONSTRAINT [DF_PHIEUNHAP_TongTien]  DEFAULT ((0)),
	[TinhTrang] [nvarchar](20) NULL CONSTRAINT [DF_PHIEUNHAP_TinhTrang]  DEFAULT (N'Đã duyệt'),
 CONSTRAINT [PK__PHIEUNHA__2725E7F049779E07] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[Anh] [varchar](50) NULL,
	[MaNSX] [int] NOT NULL,
	[SoLuongTong] [int] NULL CONSTRAINT [DF_SANPHAM_SoLuongTong]  DEFAULT ((0)),
	[DonGia] [decimal](18, 0) NOT NULL,
	[Anh2] [varchar](50) NULL,
	[Anh3] [varchar](50) NULL,
	[MoTa] [nvarchar](max) NULL CONSTRAINT [DF_SANPHAM_MoTa]  DEFAULT (N'Mô tả'),
	[NgayCapNhat] [date] NULL CONSTRAINT [DF_SANPHAM_NgayCapNhat]  DEFAULT (getdate()),
 CONSTRAINT [PK__SANPHAM__2725081CACC89BF4] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Size]    Script Date: 6/16/2020 11:07:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[MaSize] [int] IDENTITY(1,1) NOT NULL,
	[Size] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHD] ([MaDH], [MaSP], [SoLuong], [DonGia], [MaSize], [MaMau]) VALUES (1, 1, 2, CAST(1600000 AS Decimal(18, 0)), 1, 1)
INSERT [dbo].[CHITIETHD] ([MaDH], [MaSP], [SoLuong], [DonGia], [MaSize], [MaMau]) VALUES (1, 2, 1, CAST(1500000 AS Decimal(18, 0)), 1, 1)
INSERT [dbo].[CHITIETHD] ([MaDH], [MaSP], [SoLuong], [DonGia], [MaSize], [MaMau]) VALUES (2, 3, 2, CAST(1550000 AS Decimal(18, 0)), 1, 1)
INSERT [dbo].[CHITIETPN] ([MaPN], [MaSP], [SoLuong], [Gia], [MaSize], [MaMau], [ThanhTien]) VALUES (1, 4, 20, CAST(1200000 AS Decimal(18, 0)), 1, 1, CAST(130000000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETPN] ([MaPN], [MaSP], [SoLuong], [Gia], [MaSize], [MaMau], [ThanhTien]) VALUES (1, 4, 100, CAST(1300000 AS Decimal(18, 0)), 1, 7, CAST(130000000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETPN] ([MaPN], [MaSP], [SoLuong], [Gia], [MaSize], [MaMau], [ThanhTien]) VALUES (2, 5, 50, CAST(2000000 AS Decimal(18, 0)), 1, 5, CAST(100000000 AS Decimal(18, 0)))
INSERT [dbo].[CHITIETSP] ([MaSP], [MaSize], [MaMau], [SoLuong]) VALUES (1, 1, 1, 85)
INSERT [dbo].[CHITIETSP] ([MaSP], [MaSize], [MaMau], [SoLuong]) VALUES (1, 1, 2, 210)
INSERT [dbo].[CHITIETSP] ([MaSP], [MaSize], [MaMau], [SoLuong]) VALUES (1, 3, 1, 50)
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([MaDH], [MaKH], [MaNV], [NgayDat], [NgayGiao], [DCGiao], [TongTien], [ThanhToan], [TinhTrang], [HoTen], [Email], [SDT]) VALUES (1, 1009, 1, CAST(N'2018-06-16 00:09:27.070' AS DateTime), CAST(N'2018-06-16 00:28:28.927' AS DateTime), N'345 Núi Thành', CAST(4700000 AS Decimal(18, 0)), N'Đã thanh toán', N'Đã duyệt', N'Hoàng Oanh', N'hoangoanh@gmail.com', N'0963231425 ')
INSERT [dbo].[DONHANG] ([MaDH], [MaKH], [MaNV], [NgayDat], [NgayGiao], [DCGiao], [TongTien], [ThanhToan], [TinhTrang], [HoTen], [Email], [SDT]) VALUES (2, NULL, 1, CAST(N'2018-06-16 00:24:35.580' AS DateTime), NULL, N'K382 Hùng vương Đà Nẵng', CAST(13100000 AS Decimal(18, 0)), NULL, N'Đã duyệt', N'Hà Quang Ảnh', N'haquanganh00@gmail.com', N'01689835922')
INSERT [dbo].[DONHANG] ([MaDH], [MaKH], [MaNV], [NgayDat], [NgayGiao], [DCGiao], [TongTien], [ThanhToan], [TinhTrang], [HoTen], [Email], [SDT]) VALUES (3, NULL, 1, CAST(N'2018-06-16 00:34:24.007' AS DateTime), NULL, N'82 Trưng Nhị Đà Nẵng', CAST(14600000 AS Decimal(18, 0)), NULL, N'Đã hủy', N'Lê Hoàng Nam', N'lehoangnam123@gmail.com', N'01689835923')
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TenKH], [GioiTinh], [DiaChi], [Email], [Sdt], [MatKhau]) VALUES (1000, N'Nguyễn Văn An', N'Nam', N'Đà Nẵng', N'an@gmail.com', N'0985648214', N'123')
INSERT [dbo].[KHACHHANG] ([MAKH], [TenKH], [GioiTinh], [DiaChi], [Email], [Sdt], [MatKhau]) VALUES (1001, N'Nguyễn Văn Tuấn', N'Nam', N'Đà Nẵng', N'tuan@gmail.com', N'0975648214', N'123')
INSERT [dbo].[KHACHHANG] ([MAKH], [TenKH], [GioiTinh], [DiaChi], [Email], [Sdt], [MatKhau]) VALUES (1002, N'Ngọc Hằng', N'Nữ', N'Đà Nẵng', N'hang@gmail.com', N'0975648277', N'123')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[MauSac] ON 

INSERT [dbo].[MauSac] ([MaMau], [Color]) VALUES (1, N'Xanh')
INSERT [dbo].[MauSac] ([MaMau], [Color]) VALUES (2, N'Vàng')
INSERT [dbo].[MauSac] ([MaMau], [Color]) VALUES (3, N'Đỏ')
SET IDENTITY_INSERT [dbo].[MauSac] OFF
SET IDENTITY_INSERT [dbo].[NCC] ON 

INSERT [dbo].[NCC] ([MaNCC], [TenNCC], [DiaChi], [Email], [Sdt]) VALUES (1, N'Giày TMT', N'Đà Nẵng', N'giaytmt@gmail.com', N'0123456787')
INSERT [dbo].[NCC] ([MaNCC], [TenNCC], [DiaChi], [Email], [Sdt]) VALUES (2, N'Shoe Store', N'Hà Nội', N'shoestore@gmail.com', N'0123456799')
INSERT [dbo].[NCC] ([MaNCC], [TenNCC], [DiaChi], [Email], [Sdt]) VALUES (3, N'Shoe Blu Shop', N'Đà Nẵng', N'shoeblushop@gmail.com', N'0123456785')
SET IDENTITY_INSERT [dbo].[NCC] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [DiaChi], [Email], [Sdt], [GioiTinh], [NgaySinh], [CMND], [MatKhau], [QuyenNV]) VALUES (1, N'Admin', N'Đà Nẵng', N'nguyenchi95.mta@gmail.com', N'0123456789', N'Nam', CAST(N'2017-11-17' AS Date), N'111111111199', N'123', N'1')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [DiaChi], [Email], [Sdt], [GioiTinh], [NgaySinh], [CMND], [MatKhau], [QuyenNV]) VALUES (3, N'Ngọc Anh', N'Đà Nẵng', N'anh@gmail.com', N'0123456799', N'Nữ', CAST(N'1998-11-25' AS Date), N'111111111112', N'123', N'0')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [DiaChi], [Email], [Sdt], [GioiTinh], [NgaySinh], [CMND], [MatKhau], [QuyenNV]) VALUES (4, N'Nguyễn Chi', N'12 Nhổn', N'nguyenchi95.mtac@gmail.com', N'0964879671', N'Nữ', CAST(N'1990-06-12' AS Date), N'174562990', N'123456', N'0')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[NSX] ON 

INSERT [dbo].[NSX] ([MaNSX], [TenNSX], [DiaChi], [Email], [Sdt]) VALUES (1, N'Nike', N'Anh', N'nike@gmail.com', N'0985688214')
INSERT [dbo].[NSX] ([MaNSX], [TenNSX], [DiaChi], [Email], [Sdt]) VALUES (2, N'Adidas', N'Pháp', N'adidas@gmail.com', N'0985108214')
INSERT [dbo].[NSX] ([MaNSX], [TenNSX], [DiaChi], [Email], [Sdt]) VALUES (3, N'Puma', N'Mỹ', N'puma@gmail.com', N'0985647214')
SET IDENTITY_INSERT [dbo].[NSX] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MaPN], [NgayNhap], [MaNV], [MaNCC], [TongTien], [TinhTrang]) VALUES (1, CAST(N'2018-06-16 00:00:00.000' AS DateTime), 1, 1, CAST(260000000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[PHIEUNHAP] ([MaPN], [NgayNhap], [MaNV], [MaNCC], [TongTien], [TinhTrang]) VALUES (2, CAST(N'2018-06-16 00:00:00.000' AS DateTime), 1, 3, CAST(300000000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[PHIEUNHAP] ([MaPN], [NgayNhap], [MaNV], [MaNCC], [TongTien], [TinhTrang]) VALUES (3, CAST(N'2018-06-16 00:00:00.000' AS DateTime), 1, 2, CAST(386000000 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [Anh], [MaNSX], [SoLuongTong], [DonGia], [Anh2], [Anh3], [MoTa], [NgayCapNhat]) VALUES (3, N'Adidas pharelwilliam', N'Adidaspharelwilliam_white_1.jpg', 2, 234, CAST(1550000 AS Decimal(18, 0)), N'Adidaspharelwilliam_white_2.jpg', N'Adidaspharelwilliam_white_3.jpg', N'Sau khi ra mắt trong một màu sắc rasta lấy cảm hứng từ hoang dã tại sự kiện adidas 747 Warehouse St., sự hợp tác Crazy BYW của Pharrell đã trở lại với một màu đen và hồng. ', CAST(N'2018-06-15' AS Date))
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([MaSize], [Size]) VALUES (1, 36)
INSERT [dbo].[Size] ([MaSize], [Size]) VALUES (2, 37)
INSERT [dbo].[Size] ([MaSize], [Size]) VALUES (3, 38)
SET IDENTITY_INSERT [dbo].[Size] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__A9D1053426DFEF19]    Script Date: 6/16/2020 11:07:39 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__CA1E34AD0025F56E]    Script Date: 6/16/2020 11:07:39 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[Sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NCC__A9D10534CBFA302A]    Script Date: 6/16/2020 11:07:39 AM ******/
ALTER TABLE [dbo].[NCC] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NCC__CA1E34AD1F736913]    Script Date: 6/16/2020 11:07:39 AM ******/
ALTER TABLE [dbo].[NCC] ADD UNIQUE NONCLUSTERED 
(
	[Sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__A9D10534266702DF]    Script Date: 6/16/2020 11:07:39 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__CA1E34AD602DFC27]    Script Date: 6/16/2020 11:07:39 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[Sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__F67C8D0BCB9FD353]    Script Date: 6/16/2020 11:07:39 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NSX__A9D10534A6A65B60]    Script Date: 6/16/2020 11:07:39 AM ******/
ALTER TABLE [dbo].[NSX] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NSX__CA1E34ADB101FDA2]    Script Date: 6/16/2020 11:07:39 AM ******/
ALTER TABLE [dbo].[NSX] ADD UNIQUE NONCLUSTERED 
(
	[Sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MaDH__75A278F5] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK__CHITIETHD__MaDH__75A278F5]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETHD__MaSP__76969D2E] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK__CHITIETHD__MaSP__76969D2E]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_MauSac] FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_MauSac]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_Size] FOREIGN KEY([MaSize])
REFERENCES [dbo].[Size] ([MaSize])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_Size]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPN__MaPN__5BE2A6F2] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PHIEUNHAP] ([MaPN])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK__CHITIETPN__MaPN__5BE2A6F2]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETPN__MaSP__5CD6CB2B] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK__CHITIETPN__MaSP__5CD6CB2B]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPN_MauSac] FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_CHITIETPN_MauSac]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPN_Size] FOREIGN KEY([MaSize])
REFERENCES [dbo].[Size] ([MaSize])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_CHITIETPN_Size]
GO
ALTER TABLE [dbo].[CHITIETSP]  WITH CHECK ADD FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
GO
ALTER TABLE [dbo].[CHITIETSP]  WITH CHECK ADD FOREIGN KEY([MaSize])
REFERENCES [dbo].[Size] ([MaSize])
GO
ALTER TABLE [dbo].[CHITIETSP]  WITH CHECK ADD  CONSTRAINT [FK__CHITIETSP__MaSP__534D60F1] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETSP] CHECK CONSTRAINT [FK__CHITIETSP__MaSP__534D60F1]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK__DONHANG__MaKH__6FE99F9F] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK__DONHANG__MaKH__6FE99F9F]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK__DONHANG__MaNV__70DDC3D8] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK__DONHANG__MaNV__70DDC3D8]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUNHAP__MaNCC__59063A47] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK__PHIEUNHAP__MaNCC__59063A47]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUNHAP__MaNV__5812160E] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK__PHIEUNHAP__MaNV__5812160E]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK__SANPHAM__MaNSX__5070F446] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NSX] ([MaNSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK__SANPHAM__MaNSX__5070F446]
GO
USE [master]
GO
