
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div class="ads-grid_shop">
    <div class="shop_inner_inf">
        <h3 class="head">Giới thiệu</h3>
        <p class="head_para">Thêm một số mô tả</p>
        <div class="inner_section_w3ls">
            <div class="col-md-6 news-left">
                <img src="~/Content/NguoiDung/images/ab.jpg" alt=" " class="img-responsive">
            </div>
            <div class="col-md-6 news-right">
                <h4>Chào mừng đến với Yugo Shoes</h4>
                <p class="sub_p">
                    Yugo Shoes được thành lập vào năm 2018 với mong muốn cung cấp cho cộng đồng sneakerhead một nguồn số ít phục vụ tất cả các tin tức liên quan trong thế giới giày dép.
                    Kể từ đó, nó đã phát triển thành điểm đến đầu tiên của trang web cho ngày phát hành thu hút người chơi sneaker, xem trước các dự án sắp tới, quần áo sneaker NBA và nhiều hơn nữa trong một kênh cao cấp.
                    Hơn nữa, chúng tôi có kết nối mạnh mẽ với tất cả các thương hiệu yêu thích của bạn, có nghĩa là Sneaker News liên tục hoạt động độc quyền trên phương tiện truyền thông và ra mắt sản phẩm mang lại cho bạn quyền truy cập bên trong.
                </p>
                <p>
                    Yugo Shoes cũng cung cấp nội dung độc quyền thông qua kênh Chọn tin tức Sneaker của chúng tôi, hiển thị mọi thứ từ bộ sưu tập sneaker của các thành viên cộng đồng đến các bản phát hành cộng tác sắp tới.
                    Và nội dung không kết thúc ở đây trên trang chủ - chúng tôi liên tục cung cấp cho bạn các tính năng bổ sung thông qua các kênh truyền thông xã hội khác nhau của chúng tôi (Facebook, Instagram, Twitter, Google Plus).
                    Ngày nay, mạng lưới tin tức kỹ thuật số và xã hội của Yugo Shoes phục vụ khán giả toàn cầu với hơn 20 triệu người tiêu dùng trẻ mỗi tháng.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

</div>
<div class="mid_services">
    <div class="col-md-6 according_inner_grids">
        <h3 class="heading two">Chúng tôi là</h3>
        <div class="according_info">
            <div class="panel-group about_panel" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title asd">
                            <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                               aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda est cliche voluptate
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body panel_text">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title asd">
                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                               aria-controls="collapseTwo">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque earum rerum
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body panel_text">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title asd">
                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                               aria-controls="collapseThree">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem accusamus terry qui
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body panel_text">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title asd">
                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                               aria-controls="collapseThree">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem accusamus terry qui
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body panel_text">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 mid_services_img">
        <div class="bar-grids">
            <h3 class="heading two three">Sự vượt trội của chúng tôi thể hiện qua</h3>
            <div class="skill_info">
                <h6>Phát triển<span> 95% </span></h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" style="width: 95%">
                    </div>
                </div>
                <h6>Giá<span> 85% </span></h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" style="width: 85%">
                    </div>
                </div>
                <h6>Sản xuất <span>90% </span></h6>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" style="width: 90%">
                    </div>
                </div>
                <h6>Quảng cáo <span>86% </span></h6>
                <div class="progress prgs-last">
                    <div class="progress-bar progress-bar-striped active" style="width: 86%">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"> </div>
</div>
