
    <div class="ads-grid_shop">
        <div class="shop_inner_inf">
            <!-- tittle heading -->
            <!-- //tittle heading -->
            <!-- product left -->
            <div class="side-bar col-md-3">
                @*<div class="search-hotel">
                    <h3 class="agileits-sear-head">Search Here..</h3>
                    <form action="#" method="post">
                        <input type="search" placeholder="Product name..." name="search" required="">
                        <input type="submit" value=" ">
                    </form>
                </div>*@
                <!-- price range -->
                @*<div class="range">
                    <h3 class="agileits-sear-head">Price range</h3>
                    <ul class="dropdown-menu6">
                        <li>

                            <div id="slider-range"></div>
                            <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
                        </li>
                    </ul>
                </div>*@
                <!-- //price range -->
                <!--preference -->
                @*<div class="left-side">
                    <h3 class="agileits-sear-head">Occasion</h3>
                    <ul>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Casuals</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Party</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Wedding</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Ethnic</span>
                        </li>
                    </ul>
                </div>*@
                <!-- // preference -->
                <!-- thương hiệu -->
                <div class="left-side">
                    <h3 class="agileits-sear-head">Thương Hiệu</h3>
                    @Html.Action("DanhSachThuongHieuPartial", "ThuongHieu")
                </div>
                <!-- //thương hiệu -->
                @*<!-- reviews -->
                    <div class="customer-rev left-side">
                        <h3 class="agileits-sear-head">Customer Review</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>4.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>3.5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>3.0</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <span>2.5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //reviews -->*@
                <!-- deals -->
                <div class="deal-leftmk left-side">
                    <h3 class="agileits-sear-head">Sản phẩm nổi bật</h3>

                    @Html.Action("SanPhamNoiBatPartial", "SanPham")

                </div>
                <!-- //deals -->

            </div>
            <!-- //product left -->


