
@{
    ViewBag.Title = "kCoQuyen";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<br /><br />
<h3 style="margin-top:20px;">Bạn không có quyền vào chức năng này vui lòng liên hệ Admin để được cấp quyền.</h3>

