
<div class="top_nav_right">
    <div class="shoecart shoecart2 cart cart box_1">
      <a href="@Url.Action("GioHang","GioHang")"><button class="top_shoe_cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true">(@ViewBag.TongSoLuong)</i></button></a>
    </div>
</div>